<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Ops Platform</title>-->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

<div class="app-layout">

    <!-- SIDEBAR -->
    <aside class="sidebar compact-sidebar">

        <!-- App Title -->
        <div class="sidebar-title">
            Ops Platform
        </div>

        {% block sidebar %}
        {% endblock %}

    </aside>


    <!-- MAIN CONTENT -->
    <div class="main-content">

        <!-- REMOVE OLD HEADER COMPLETELY -->
        <main class="content-area">
            {% block content %}
            {% endblock %}
        </main>

    </div>

</div>

</body>
</html>