<!DOCTYPE html>
<html>
<head>
    <title>Enterprise Report Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>Enterprise Report Platform</h1>
    <p>Secure Local Document Processing Platform</p>

    <div class="menu-grid">

        <a href="/report">
            <button>Generate Report</button>
        </a>

        <a href="/bulk">
            <button>Bulk Generate</button>
        </a>

        <a href="/converter">
            <button>PPT Converter</button>
        </a>

        <a href="/compare">
            <button>Word Compare</button>
        </a>

    </div>
</div>

</body>
</html>